:root {
  --primary-color: #ED8412;
  --secondary-color: #6c757d;
  --background-color: #f8f8f8;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: var(--background-color);
  max-width: 100vw;
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  color: black;
  padding: 15px 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: fixed;
  z-index: 999;
}

.header .desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1200px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}
.header .mobile-header {
  display: none;
}


.company-name {
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.company-name img{
  height: 50px;
  width: 50px;
  padding: 0 2% 0 0;
}

.desktop-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  background-color: #fff;
  padding: 10px 70px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
  width: fit-content;
  outline: none;
}
.desktop-menu a{
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.menu-item {
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 2% 10%;
  outline: none;
  border: none;
  background-color: transparent;
}
.active-page {
  color: #007bff;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
  width: 100%;
  outline: none;
  padding: 2% 10%;
}
.menu-item:hover {
  color: #007bff;
}

.contact-number a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.contact-number a:hover {
  color: #007bff;
}


.contact-button{
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 2%;
    gap: 30%;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 999;
}
.contact-on-whatsapp, .contact-on-phone{
  color: black;
  transition: 0.3s;
}
.contact-on-whatsapp:hover{
  color: #25D366;
  scale: 1.3;
}
.contact-on-phone:hover{
  color: #007bff;
  scale: 1.3;
}

/* ---------------------------------------------------------footer section -------------------*/
footer{
  position: relative;
  bottom: 0px;
  left: 0px;
  background-color: black;
  width: 100vw;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%;
}
.footer-container{
  background-color: black;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
.website-section .brand-name{
  display: flex;
  align-items: center;
  color: white;
}
.website-section .brand-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.website-section .brand-name img{
  height: 100px;
  width: 100px;
  padding: 0 10% 0 0;
}
.website-section h1{
  margin: 0;
}

.quick-links p{
  font-size: 105%;
}
.links{
  display: flex;
  gap: 10%;
  color: white;
}
.links a{
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.links a:hover{
  color: yellow;
}

#linkedin ,svg, path{
  transition: 0.3s;
}
#linkedin:hover path {
  fill: #0077B5;
}
#linkedin:hover svg{
  background-color: white;
  scale: 1.2;
  border-radius: 5px;
}

#x, svg, path{
  transition: 0.3s;
}
#x:hover path {
  fill: black;
}
#x:hover svg{
  background-color: white;
  scale: 1.2;
  border-radius: 5px;
}

#youtube, svg, path{
  transition: 0.3s;
}
#youtube:hover path {
  fill: red;
}
#youtube:hover svg{
  background-color: white;
  scale: 1.2;
  border-radius: 5px;
}

#reddit, svg, path{
  transition: 0.3s;
}
#reddit:hover path {
  fill: #FF4500;
}
#reddit:hover svg{
  background-color: white;
  scale: 1.2;
  border-radius: 5px;
}

#facebook, svg, path{
  transition: 0.3s;
}
#facebook:hover path {
  fill: #0077B5;
}
#facebook:hover svg{
  background-color: white;
  scale: 1.2;
  border-radius: 5px;
}

#instagram, svg, path{
  transition: 0.3s;
}
#instagram:hover path {
  fill: #E1306C;
}
#instagram:hover svg{
  background-color: white;
  scale: 1.2;
  border-radius: 5px;
}

/* ----------------------------------------social section */
.social-section{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
.social-section p{
  width: 100%;
  margin: 0;
  padding: 0 0 2% 0;
}
.social-section svg{
  height: 25px;
  width: 25px;
}
.social-section .social-icons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0 0 20% 0;
}
.social-section .call, .social-section .mail{
  width: 100%;
  color: white;
  text-decoration: none;
  margin: 2%;
}

footer hr{
  color: white;
  width: 90%;
}
footer p{
  color: white;
  margin: 0;
}





/* ######################################################################### */
/* ######################################################################### */
/* ######################################################################### */
/* ######################################################################### */
/* ######################################################################### */
/* ######################################################################### */

/*                              About page                                   */

.about-page{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 5;
  background-color: white;
}
.main-about-container{
  width: 100vw;
  position: relative;
}
.robot-section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: white;
}
.robot-section section{
  padding: 0 0 0 20%;
}
.robot-section img{
  width: 40%;
}
.robot-section section p{
  width: 50%;
}

.first-box{
  position: relative;
  background-color: white;
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.first-box section #first-para{
  width: 100%;
}
.first-box section{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 30px;
  padding: 2%;
  width: 80%;
  margin: 2%;
}
.first-box section p{
  width: 50%;
}

.call-to-action-area{
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
  color: white;
  padding: 5% 0;
}
.call-to-action-area button{
  border: 2px solid white;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 1% 2%;
  border-radius: 50px;
  transition: 0.3s important;
}
.call-to-action-area button:hover{
  background-color: white;
  color: var(--primary-color);
}




/* ################################################################################################### */
/* ################################################################################################### */
/* ################################################################################################### */
/* ################################################################################################### */
                        
                                             /* consultation-form */

.consultation-form-container{
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}
.consultation-form{
  height: fit-content;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;  
}
.cunsultation-form-heading{
  display: flex;
  justify-content: space-between;
}
.cunsultation-form-heading button{
  border: none;
  padding:1% 2%;
  height: 30px;
  width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: gray;
  font-weight: bold;
  background-color: white;
}
.cunsultation-form-heading button:hover{
  color: black;
}
.personal-details{
  display: flex;
  width: 30%;
  flex-direction: column;
}
.personal-details input{
  padding: 2%;
  outline: none;
  border: none;
  background-color: white;
}

.project-type label{
  padding: 1% 2%;
  margin:0.5% ;
  border: 1px solid gray;
  border-radius: 50px;
}
.project-type input{
  display: none;
}
.project-type p{
  margin: 2% 0 0 0;
}
.project-type input:checked + label{
  background-color: #007bff;
  color: white;
}

.project-budget-and-timeline{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: fit-content;
  min-width: 100%;
  justify-content: center;
  margin: 2% 0;
  gap: 5%;
}
#project-budget{
  outline: none;
  border-radius: 10px;
  padding: 2% 5%;
  width: 100%;
}
.project-budget-details{
  width: 90%;
}
.project-timeline{
  width: 90%;
}

#project-timeline{
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2% 5%;
  width: 100%;
}

.project-related-optional-detail textarea{
  border: 1px solid gray;
  border-radius: 10px;
  outline: none;
  padding: 1%;
  width: 100%;
}

.consultation-form input[type="submit"]{
  border: none;
  outline: none;
  padding: 1% 2%;
  margin: 1%;
  border-radius: 50px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  transition: 0.3s important;
  border: 2px solid var(--primary-color);
  width: fit-content;
  position: relative;
  justify-content: right;
  margin-left: auto;;
}
.consultation-form input[type="submit"]:hover{
  background-color: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.book-consultation-form-button{
  width: 100%;
  display: flex;
}




@media (max-width: 480px){
  .header .desktop-header{
    display: none;
  }
  .header{
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: 999;
    display: flex;
    padding: 2% 0;
    justify-content: center;
    align-items: center;
  }
  .header .mobile-header{
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .mobile-header .the-box-coders-name-and-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }
  .header .mobile-header .the-box-coders-name-and-logo img{
    height: 50px;
    width: 50px;
  }
  .header .mobile-header .the-box-coders-name-and-logo span{
    display: flex;
    align-items: top;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    font-size: 150%;
  }

  /* ----------------------------------------------------- mobile-menu */
  .mobile-menu{
    position: fixed;
    bottom: 5%;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10000;
  }
  .mobile-menu .mobile-menu-container{
    width: fit-content;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: center;
    align-items: center;
    padding: 2% 12%;
    border-radius: 50px;
    background-color: white;
  }
  .mobile-menu .mobile-menu-container .active-page-mobile{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50px;
  }
  .mobile-menu .mobile-menu-container a svg{
    height: 36px;
    width: 36px;
    padding: 2%;
  }
  
  /* ----------------------------------------------------- contact button */
  .contact-button{
    position: fixed;
    right: 10%;
    bottom: 10%;
    padding: 2% 6%;
    display: none;
  }


  #robot-image{
    display: none;
  }
  .robot-section section{
    padding: 0 0 0 0;
    width: 80%;
  }
  .robot-section section p{
    width: 100%;
  }
  .first-box section{
    padding: 5%;
    width: 90%;
  }
  .first-box section p{
    width: 100%;
  }
  .call-to-action-area{
    padding: 5%;
  }
  .call-to-action-area button{
    width: 100%;
    padding: 3%;
  }
  /* ----------------------------------------------------- footer*/
  .footer{
    width: 100vw;
    height: fit-content;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 0;
  }
  .footer-container{
    flex-direction: column;
    padding: 5% 0;
    width: 100%;
  }
  .quick-links{
    display: none;
  }
  .social-section{
    width: 90%;
  }
  
  .consultation-form{
    width: 100%;
    overflow: scroll;
    height: 100vh;
  }
  .consultation-form .consultation-form-container{
    width: 100%;
  }
  .consultation-form .personal-details{
    width: 100%;
  }
  .consultation-form .personal-details input{
    width: 100%;
  }
  .project-type p{
    margin: 3% 0;
    padding: 0;
  }
  .consultation-form input[type="submit"]{
    padding: 3% 5%;
  }
  .consultation-form select{
    background-color: white;
  }
  .project-budget-and-timeline{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
  }
  .project-budget-details{
    width: 100%;
    margin: 5% 0;
  }
  .project-timeline{
    width: 100%;
  }
  .project-type label{
  border: 1px solid gray;
  padding: 1% 5%;
  margin: 1%;
  border-radius: 50px;
  font-size: 16px;
  width: 100%;
  height: 64px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 0 5% 0;
  }
  .project-type input{
    display: none;
  }
  .project-type input:checked + label{
    background-color: #007bff;
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  #robot-image{
    display: none;
  }
}