:root {
  --primary-color: #ED8412;
  --secondary-color: #6c757d;
  --background-color: #f8f8f8;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: var(--background-color);
  max-width: 100vw;
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  color: black;
  padding: 15px 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: fixed;
  z-index: 999;
}

.header .desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1200px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

.header .mobile-header {
  display: none;
}

.company-name {
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.company-name img{
  height: 50px;
  width: 50px;
  padding: 0 2% 0 0;
}

.desktop-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  background-color: #fff;
  padding: 10px 70px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
  width: fit-content;
  outline: none;
}
.desktop-menu a{
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.menu-item {
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 2% 10%;
  outline: none;
  border: none;
  background-color: transparent;
}
.active-page {
  color: #007bff;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
  width: 100%;
  outline: none;
  padding: 2% 10%;
}
.menu-item:hover {
  color: #007bff;
}

.contact-number a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.contact-number a:hover {
  color: #007bff;
}


.contact-button{
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 2%;
    gap: 30%;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 999;
}
.contact-on-whatsapp, .contact-on-phone{
  color: black;
  transition: 0.3s;
}
.contact-on-whatsapp:hover{
  color: #25D366;
  scale: 1.3;
}
.contact-on-phone:hover{
  color: #007bff;
  scale: 1.3;
}

/* ---------------------------------------------------------footer section -------------------*/
footer{
  position: relative;
  bottom: 0px;
  left: 0px;
  background-color: black;
  width: 100vw;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%;
}
.footer-container{
  background-color: black;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
.website-section .brand-name{
  display: flex;
  align-items: center;
  color: white;
}
.website-section .brand-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.website-section .brand-name img{
  height: 100px;
  width: 100px;
  padding: 0 10% 0 0;
}
.website-section h1{
  margin: 0;
}

.quick-links p{
  font-size: 105%;
}
.links{
  display: flex;
  gap: 10%;
  color: white;
}
.links a{
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.links a:hover{
  color: yellow;
}

#linkedin ,svg, path{
  transition: 0.3s;
}
#linkedin:hover path {
  fill: #0077B5;
}
#linkedin:hover svg{
  background-color: white;
  scale: 1.2;
  border-radius: 5px;
}

#x, svg, path{
  transition: 0.3s;
}
#x:hover path {
  fill: black;
}
#x:hover svg{
  background-color: white;
  scale: 1.2;
  border-radius: 5px;
}

#youtube, svg, path{
  transition: 0.3s;
}
#youtube:hover path {
  fill: red;
}
#youtube:hover svg{
  background-color: white;
  scale: 1.2;
  border-radius: 5px;
}

#reddit, svg, path{
  transition: 0.3s;
}
#reddit:hover path {
  fill: #FF4500;
}
#reddit:hover svg{
  background-color: white;
  scale: 1.2;
  border-radius: 5px;
}

#facebook, svg, path{
  transition: 0.3s;
}
#facebook:hover path {
  fill: #0077B5;
}
#facebook:hover svg{
  background-color: white;
  scale: 1.2;
  border-radius: 5px;
}

#instagram, svg, path{
  transition: 0.3s;
}
#instagram:hover path {
  fill: #E1306C;
}
#instagram:hover svg{
  background-color: white;
  scale: 1.2;
  border-radius: 5px;
}

/* ----------------------------------------social section */
.social-section{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
.social-section p{
  width: 100%;
  margin: 0;
  padding: 0 0 2% 0;
}
.social-section svg{
  height: 25px;
  width: 25px;
}
.social-section .social-icons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0 0 20% 0;
}
.social-section .call, .social-section .mail{
  width: 100%;
  color: white;
  text-decoration: none;
  margin: 2%;
}

footer hr{
  color: white;
  width: 90%;
}
footer p{
  color: white;
  margin: 0;
}


/* ######################################################################### */
/* ######################################################################### */
/* ######################################################################### */
/* ######################################################################### */
/* ######################################################################### */
/* ######################################################################### */

/*                              Contact page                                   */

.contact-page{
  width: 100vw;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: white;
  border: 1px solid black;
}
.contact-page .main-contact-page{
  width: 80%;
  height: fit-content;
  text-align: center;
  background-color: white;
}
.main-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: stretch;
  height: fit-content;
  width: 100%;
}
.send-message-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 40%;
  background-color: white;
  border-radius: 20px;
  padding: 2%;
  color: gray;
}
.send-message-card form{
  display: flex;
  flex-direction: column;
  width: 90%;
}
.send-message-card form input{
  width: 100%;
  margin: 1% 0;
  padding: 2%;
  border: none;
  outline: none;
  border-bottom: 2px solid gray;
}
.send-message-card form select{
  border-radius: 10px;
  outline: none;
  padding: 2%;
  margin: 2% 0 0 0;
  width: 100%;
  font-size: 80%;
  background-color: white;
}
.send-message-card form textarea{
  margin: 3% 0;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2%;
  outline: none;
}





.contact-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 40%;
  background-color: white;
  border-radius: 20px;
  padding: 2%;
}
.contact-card h3{
  margin: 2% 0;
  color: gray;
}
.contact-card a{
  display: flex;
  align-items: top;
  width: 90%;
  padding: 3%;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.contact-card a:hover{
  scale: 1.05;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
}
.contact-card a svg{
  width: 30px;
  height: 30px;
}
.contact-card a .contact-details{
  margin: 0 0 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}
.contact-card a .contact-details span{
  font-size: 100%;
  font-weight: bold;
  text-align: left;
  width: 100%;
}
.contact-card a .contact-details p{
  color: gray;
  width: 100%;
  text-align: left;
}
.contact-card a:hover .contact-details p{
  color: white;
}
.social-media-handles{
  display: flex;
  margin: 0 0 5% 0;
  width: 80%;
  justify-content: space-around;
}
.social-media-handles a{
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.social-media-handles a:hover{
  background-color: transparent;
}


.otp-input-field{
  display: none;
}

.main-contact-page input[type="submit"]{
  border: none;
  outline: none;
  padding: 2%;
  border-radius: 50px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  transition: 0.3s important;
  border: 2px solid var(--primary-color);
  width: 50%;
  position: relative;
  justify-content: right;
  margin-left: auto;
}
.main-contact-page input[type="submit"]:hover{
  background-color: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);

}





@media (max-width: 480px){
  .contact-page{
    height: fit-content;
    padding: 15% 0
  }
  .main-section{
    flex-direction: column;
  }
  .main-contact-page{
    padding: 10% 0;
    height: 100%;
    width: 100%;
  }
  .send-message-card{
    padding: 5%;
    margin: 0 0 10% 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .send-message-card form select{
    font-size: 100%;
  }
  .send-message-card{
    width: 100%;
  }
  .main-contact-page input[type="submit"]{
    width: 100%;
  }
  .contact-card{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .header .desktop-header{
    display: none;
  }
  .header{
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: 999;
    display: flex;
    padding: 2% 0;
    justify-content: center;
    align-items: center;
  }
  .header .mobile-header{
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .mobile-header .the-box-coders-name-and-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }
  .header .mobile-header .the-box-coders-name-and-logo img{
    height: 50px;
    width: 50px;
  }
  .header .mobile-header .the-box-coders-name-and-logo span{
    display: flex;
    align-items: top;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    font-size: 150%;
  }
  /* ----------------------------------------------------- contact button */
  .contact-button{
    position: fixed;
    right: 10%;
    bottom: 10%;
    padding: 2% 6%;
    display: none;
  }
  /* ----------------------------------------------------- mobile-menu */
  .mobile-menu{
    position: fixed;
    bottom: 5%;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10000;
  }
  .mobile-menu .mobile-menu-container{
    width: fit-content;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: center;
    align-items: center;
    padding: 2% 12%;
    border-radius: 50px;
    background-color: white;
  }
  .mobile-menu .mobile-menu-container .active-page-mobile{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50px;
  }
  .mobile-menu .mobile-menu-container a svg{
    height: 36px;
    width: 36px;
    padding: 2%;
  }

  
  /* ----------------------------------------------------- footer*/
  .footer{
    width: 100vw;
    height: fit-content;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 0;
  }
  .footer-container{
    flex-direction: column;
    padding: 5% 0;
    width: 100%;
  }
  .quick-links{
    display: none;
  }
  .social-section{
    width: 100%;
    padding: 0 0 5% 0;
  }
  #youtube{
    display: none;
  }

}


@media (min-width: 768px) and (max-width: 1023px){
  .main-section{
    flex-direction: column;
  }
  .send-message-card{
    width: 100%;
    margin: 5% 0;
  }
  .contact-card{
    width: 100%;
  }
}